In [10]:
!pip install bs4
!pip install lxml==4.6.4
!pip install html5lib==1.1

Requirement already satisfied: bs4 in c:\users\asustuf\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\asustuf\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\asustuf\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: lxml==4.6.4 in c:\users\asustuf\anaconda3\lib\site-packages (4.6.4)
Requirement already satisfied: html5lib==1.1 in c:\users\asustuf\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\asustuf\anaconda3\lib\site-packages (from html5lib==1.1) (1.16.0)
Requirement already satisfied: webencodings in c:\users\asustuf\anaconda3\lib\site-packages (from html5lib==1.1) (0.5.1)

In [2]:
import requests

In [3]:
import pandas as pd

In [4]:
url = 'https://en.wikipedia.org/wiki/World_population' # Copy the url address
df=pd.read_html(url, flavor='bs4')

In [5]:
len(df)

25

In [6]:
df[3]

,Rank,Country / Dependency,Population,Percentage of the world,Date,Source (official or from the United Nations)
0,1,India,1425775850,17.8%,14 Apr 2023,UN projection[91]
1,2,China,1412600000,17.6%,31 Dec 2021,National annual estimate[92]
2,3,United States,334659438,4.17%,23 Apr 2023,National population clock[93]
3,4,Indonesia,275773800,3.44%,1 Jul 2022,National annual estimate[94]
4,5,Pakistan,229488994,2.86%,1 Jul 2022,UN projection[95]
5,6,Nigeria,216746934,2.70%,1 Jul 2022,UN projection[95]
6,7,Brazil,216053518,2.69%,23 Apr 2023,National population clock[96]
7,8,Bangladesh,168220000,2.10%,1 Jul 2020,Annual Population Estimate[97]
8,9,Russia,147190000,1.83%,1 Oct 2021,2021 preliminary census results[98]
9,10,Mexico,128271248,1.60%,31 Mar 2022,National quarterly estimate[99]

In [7]:
pd.read_html(url, match = "10 most densely populated countries" , flavor = 'bs4')[0] # searching the specific table using the match

   Rank         Country  Population  Area (km2)  Density (pop/km2)
0     1       Singapore     5921231         719               8235
1     2      Bangladesh   165650475      148460               1116
2     3  Palestine[103]     5223000        6025                867
3     4          Taiwan    23580712       35980                655
4     5     South Korea    51844834       99720                520
5     6         Lebanon     5296814       10400                509
6     7          Rwanda    13173730       26338                500
7     8         Burundi    12696478       27830                456
8     9           India  1389637446     3287263                423
9    10     Netherlands    17400824       41543                419